<div class="mod-add-component">
  <div class="container">
    <div class="main">
      <div class="header">
        <img [src]="data.imgSrc">
        <p class="price">{{'￥'+data.price}}</p>
        <p class="prop"><span>已选</span>金，32GB 1个</p>
        <i class="close" (click)="onCloseClick()"></i>
      </div>
      <div class="body">
        <div class="attr">
          <div class="attr-name">{{data.choices.name}}</div>
          <div class="attr-choice">
            <span class="choice-item" *ngFor="let item of data.choices.arr;">
              {{item}}
            </span>
          </div>
        </div>
        <div class="count-choose">
          <div class="num-container">
            <number-picker [(className2)]="addClass" [(number)]="number"></number-picker>
          </div>
          <p class="count">数量</p>
        </div>
      </div>
      <div class="btn" (click)="onSubmitClick()">加入购物车</div>
    </div>
  </div>
</div>
